:root {
  --shtdark: rgba(40,40,40,1);
  --shtdarkless: rgba(40,40,40,0.9);
  --shtdarksemi: rgba(40,40,40,0.5);
  --shtlight: rgba(255,255,255,1);
  --shtlightless: rgba(255,255,255,0.9);
  --shtlightsemi: rgba(255,255,255,0.5);
  --shtselect: #2080B0;
}

/* || Base */

body {
  font-family: sans-serif;
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
}

p {
  margin: 20px 0;
  line-height: 1.5;
}

blockquote {
  display: block;
  padding-left: 10px;
  border-left: 5px solid var(--shtdark);
}

ul, ol, dl {
  font-size: 1.2rem;
}

ul {
  list-style-type: square;
}

li, dt, dd {
  line-height: 1.5;
}

dt {
  font-weight: bolder;
}

table {
  border: 5px ridge;
}

thead {
  background: var(--shtdark);
  color: white;
}

td, th {
  padding: 10px;
}

tr:hover {
  background: var(--shtdarksemi);
}

a {
  text-decoration: none;
  color: rgba(0,0,0,0.5);
}

a:hover {
  color: var(--shtselect);
}

::-moz-selection {
  background: var(--shtselect);
  text-shadow: none;
  color: white;
}

::selection {
  background: var(--shtselect);
  text-shadow: none;
  color: white;
}

img::-moz-selection {
  background: transparent;
  color: white;
}

img::selection {
  background: transparent;
  color: white;
}

details {
  margin: 10px;
  padding: 2px 10px;
  font-size: 1.2rem;
  color: var(--shtdark);
}

summary {
  cursor: pointer;
  list-style-type: "\25bb";
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 3%;
  padding-right: 25%;
  border-radius: 5px;
  background-image: radial-gradient(white, var(--shtdark));
  box-shadow: 0px -3px 3px var(--shtdark);
  font-weight: bolder;
}

details > p {
  margin: 0;
  padding-left: 3%;
  padding-right: 25%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image: linear-gradient(90deg, white, var(--shtdark));
}

details[open] > summary {
  list-style-type: "\25bc";
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: linear-gradient(90deg, white, var(--shtdark));
}

/* || Utility */

.nobullets {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* || Sitewide */

nav {
  border-bottom: 1px solid var(--shtlightsemi);
  background: var(--shtdarkless);
}

nav .navbar-brand {
  color: var(--shtlightless);
}

nav .navbar-brand:hover {
  color: var(--shtlightsemi);
}

nav .navbar-nav>li.nav-item>a {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  color: var(--shtlightless);
}

@media only screen and (min-width: 992px) {
  nav .navbar-nav>li.nav-item>a:hover {
    color: var(--shtlightsemi);
  }
}

header {
  margin-bottom: 50px;
  background-attachment: scroll;
  background-color: var(--shtdark);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 25px;
  color: white;
}

header .heading {
  padding: 100px 0 75px;
  text-align: center;
}

header .subheading {
  text-align: center;
  color: var(--shtlightsemi);
}

footer {
  position: relative;
  margin-top: 50px;
  padding: 15px 0 0;
  background-image: linear-gradient(var(--shtdark),rgba(0,0,0,0)); 
  text-align: center;
  font-size: 15px;
}

footer a {
  color: var(--shtlightless);
}

footer a:hover {
  color: var(--shtlightsemi);
}

/* || Code */

pre.highlight {
  overflow: auto;
  padding: 5px 10px;
  background: var(--shtdark);
  font-size: 13px;
  color: white;
}

/* || FAQ */

/* || Blog Post Index */
