@import url(syntax.css) layer(syntax);

:root {
  --shtdark: rgba(40, 40, 40, 1);
  --shtdarkless: rgba(40, 40, 40, 0.9);
  --shtdarksemi: rgba(40, 40, 40, 0.5);
  --shtdarktrans: rgba(40, 40, 40, 0);
  --shtlight: rgba(255, 255, 255, 1);
  --shtlightless: rgba(255, 255, 255, 0.9);
  --shtlightsemi: rgba(255, 255, 255, 0.5);
  --shthighlight: rgba(150, 0, 0, 0.9);
  --shtanchor: rgba(0, 0, 0, 0.5);
  --shtselect: rgba(32, 128, 176, 1);
  --lineheight: 1.5;
}

/* || Base */

html {
  font-size: 20px;
}

@media only screen and (min-width: 576px) {
  html {
    font-size: 21px;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 22px;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 24px;
  }
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  line-height: var(--lineheight);
}

p {
  line-height: var(--lineheight);
}

blockquote {
  padding-left: 1rem;
  border-left: 0.25rem solid var(--shtdark);
}

ul, ol, dl {
  font-size: 1.1rem;
}

ul {
  list-style-type: square;
}

li, dt, dd {
  line-height: var(--lineheight);
}

dt {
  font-weight: bolder;
}

table {
  border: 5px ridge var(--shtdark);
}

thead {
  background-image: linear-gradient(180deg, var(--shtdark) 10%, var(--shtdarksemi));
  box-shadow: 0px -2px 1px var(--shthighlight);
  font-size: 1.2rem;
  color: var(--shtlightless);
}

td, th {
  padding: 0.5rem;
}

tr:hover {
  background-color: var(--shtdarksemi);
}

a {
  text-decoration: none;
  color: var(--shtanchor);
}

a:hover {
  color: var(--shtselect);
}

::selection {
  background-color: var(--shtselect);
  color: white;
}

img::selection {
  background-color: transparent;
  color: white;
}

details {
  color: var(--shtdark);
}

summary {
  cursor: pointer;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  background-image: radial-gradient(var(--shtdarksemi), var(--shtdark) 80%);
  box-shadow: 5px 0px 5px var(--shtdark);
  font-size: 1.2rem;
  font-weight: bolder;
  color: var(--shtlightless);
}

summary::marker {
  content: "\25bb";
  color: var(--shthighlight);
}

details > p {
  margin: 0;
  padding: 0 1rem 0.5rem 1rem;
  border-radius: 0 0 5px 5px;
  background-image: linear-gradient(var(--shtdarksemi), var(--shtdarktrans));
  font-size: 1rem;
}

details[open] > summary {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: linear-gradient(var(--shtdark) 10%, var(--shtdarksemi));
  box-shadow: 0px -4px 2px var(--shthighlight);
}

details[open] > summary::marker {
  content: "\25bc";
  color: var(--shtlightless);
}

/* || Utility */

.fullblock {
  display: block;
  width: 100%;
}

.nobullets {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sitelink {
  background-image: radial-gradient(ellipse 25rem 3rem at 1.5rem center, var(--shthighlight), var(--shtdarktrans) 3rem);
  text-transform: uppercase;
  font-size: 0.6rem;
  letter-spacing: 0.06rem;
}

.tablist {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 992px) {
  .tablist {
    flex-direction: row;
  }
}

@media only screen and (max-width: 992px) {
  [collapsed-on-narrow-screens="true"] {
    display: none;
  }
}

div.separator {
  margin: 2rem 0.5rem;
  border-bottom: 1px solid var(--shtdark);
}

/* || Sitewide */

#layout {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto auto;
  min-height: 100vh;
}

#content {
  padding: 0 0.75rem;
}

@media only screen and (min-width: 576px) {
  #content {
    max-width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 992px) {
  #content {
    max-width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1200px) {
  #content {
    max-width: 70%;
    margin: 0 auto;
  }
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  padding: 0.5rem;
  border-bottom: 1px solid var(--shtlightsemi);
  background-color: var(--shtdarkless);
}

nav > button {
  border: 1px solid var(--shtlightsemi);
  border-radius: 5px;
  background-color: transparent;
}

nav > button .hamburger::before {
  content: "\2261";
  font-size: 1.5rem;
  color: var(--shtlightsemi);
}

nav > ul {
  flex-basis: 100%;
}

nav > ul > li > a {
  display: block;
  padding: 0.5rem 0;
}

@media only screen and (min-width: 992px) {
  nav > button {
    display: none;
  }

  nav > ul {
    flex-basis: auto;
  }

  nav > ul > li > a {
    padding-right: 1rem;
  }
}

header {
  margin-bottom: 2.5rem;
  background-attachment: scroll;
  background-color: var(--shtdark);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 1.3rem;
  color: var(--shtlight);
}

header .heading {
  padding: 5rem 0 4rem;
}

header .subheading {
  text-shadow: 3px 3px 10px var(--shtlight);
  color: var(--shtlightsemi);
}

footer {
  position: relative;
  margin-top: 2.5rem;
  padding: 0.75rem 1rem;
  background-image: linear-gradient(var(--shtdark), var(--shtdarkless) 40%, var(--shtdarksemi) 80%, var(--shtdarktrans));
  text-align: center;
}

footer > ul > li {
  display: inline-block;
  margin: 0 0.5rem 0.5rem;
}

nav a, footer a {
  color: var(--shtlightless);
}

nav a:hover, footer a:hover {
  color: var(--shtlightsemi);
}

/* || Code */

pre.highlight {
  overflow: auto;
  padding: 0.25rem 0.5rem;
  background-color: var(--shtdark);
  font-size: 0.7rem;
  color: var(--shtlightless);
}

/* || FAQ */

ul.faq {
  background-image: linear-gradient(90deg, var(--shtdarktrans), var(--shtdark) 7px, var(--shtdark) 8px, var(--shtdarktrans) 15px);
}

li.faq {
  margin: 10px 10px 10px 20px;
}

/* || Blog Post Index */

article.post-object {
  margin: 1.5rem 0;
  border-left: 4px solid var(--shtdark);
  border-bottom: 4px solid var(--shthighlight);
  border-radius: 8px;
}

article.post-object .post-preview {
  padding: 0 10% 0 1rem;
}

article.post-object .post-heading {
  text-shadow: 0px 5px 15px var(--shtdark);
  letter-spacing: 0.1rem;
}

article.post-object .post-data {
  margin-bottom: 0;
  padding: 0.1rem 25% 0.1rem 1.5rem;
  background-image: linear-gradient(45deg, var(--shthighlight) 0.2rem, var(--shtdark) 1rem, var(--shtdarkless) 50%, var(--shtdarktrans));
  font-size: 0.75rem;
  color: var(--shtlightless);
}
